<p-inputgroup class="max-w-xl">
  <input #userid pInputText placeholder="userId" />
  <button (click)="unban(userid.value)" pButton>Unban</button>
</p-inputgroup>
@if (!players().length) {
  <div class="text-xl font-semibold">No player</div>
} @else {
  <div class="text-xl font-semibold">Players</div>
  <p-table [(contextMenuSelection)]="player" [value]="players()" [contextMenu]="cm">
    <ng-template #header>
      <tr>
        @for (column of columns(); track $index) {
          <th [pSortableColumn]="['name', 'accountName'].includes(column) ? column : undefined" [pSortableColumnDisabled]="!['name', 'accountName'].includes(column)">
            <div [ngClass]="{ 'flex items-center gap-2': ['name', 'accountName'].includes(column) }">
              {{ column }}
              @if (["name", "accountName"].includes(column)) {
                <p-columnFilter [showMenu]="false" [field]="column" (click)="$event.stopPropagation()" matchMode="contains" type="text" filterOn="input" placeholder="Search" />
                <p-sortIcon [field]="column" />
              }
            </div>
          </th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-player>
      <tr [pContextMenuRow]="player">
        @for (column of columns(); track $index) {
          <td>{{ player[column] }}</td>
        }
      </tr>
    </ng-template>
  </p-table>
  <p-contextmenu #cm [model]="menu" (onHide)="player = undefined" />
}
